.vs
x64
Debug
*.user
*.vsidx
*.suo
*.VC.db
/.vs/LearnOpenGL/FileContentIndex/1fb04642-2da4-467e-8e4b-4eee3b756998.vsidx
/.vs/LearnOpenGL/FileContentIndex/b95f282a-c9ba-45aa-a693-7688dd0f0cd0.vsidx
/.vs/LearnOpenGL/v17/.suo
/.vs/LearnOpenGL/v17/Browse.VC.db
/.vs/LearnOpenGL/FileContentIndex/b95f282a-c9ba-45aa-a693-7688dd0f0cd0.vsidx
